@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&display=swap');
*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}
body{
    font-family: 'Inter', sans-serif;
}
.Navbar{
    position: relative;
    height: 80px;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background: white;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
}
.Icon-hamburger{
    display: none;

}
.Search{
    display: flex;
    justify-content: center;
    position: relative;
    width: 100%;
    max-width: 36rem;
    margin-right: 1.5rem;
    color: #8b5cf6;
    width: 70%;
    height: 50%;
    margin-left: 290px;
}
.Search-input{
    position: absolute;
    display: flex;
    align-items: center;
    right: 20px;
    top: 0;
    bottom: 0;
    color: #8b5cf6;
    z-index: 99;
}
.Search-input button{
    background-color: transparent;
    background-image: none;
    border-radius: 40px;
    border: none;
    cursor: pointer;
}
.Search input{
    display: block;
    width: 80%;
    height: 100%;
    font-size: 0.875rem;
    outline: none;
    color: #d1d5db;
    padding: 0.5rem 1rem;
    line-height: 1.25rem;
    border: none;
    box-shadow: 0 0 0 2px rgba(75, 85, 99, 0.1);
    padding-left: 2rem;
    color: #4a5568;
    position: absolute;
    right: 0;
    border-radius: 3px;
}
.Icons{
    display: flex;
}
.Icons ul{
    display: flex;
    justify-content: center;
    align-items: center;
}
.Icons ul li{
    height: 50px;   
    width: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.Icons button{
    background-color: transparent;
    background-image: none;
    border-radius: 40px;
    border: none;
    cursor: pointer;
}

.Icons-nombre{
    position: relative;
    cursor: pointer;
}
.Icons-nombre ul{
    position: absolute;
    right: 30px;
    top: 45px;
    padding: 10px;
    min-width: 220px;
    border-radius: 10px;
    background-color: white;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
    display: none;

}
.Icons-nombre ul li {
    width: 100%;
    margin-left: 10px;
}
.imagen-person{
    width: 50%;
    border: 1px solid black;
    border-radius: 50px;
}

.Icons-nombre ul li a{
    width: 100%;
    text-decoration: none;
    margin-right: 50px;
    display: flex;
    align-items: center;
    color: #4C4F52;
    font-weight: 500;
    font-size: 15px;
    line-height: 21px;

}
.Icons-nombre-aparecer{
    display: block !important;
}
.Icons-nombre-svg{
    display: flex;
    justify-content: center;
    align-items: center;
}
.opcion-texto{
    margin-left: 10px;
    letter-spacing: 0.5px;
}
.mover-icon{
    margin-left: 3px;
}

/* PARTE DE LA IZQUIERDA */
.parte-izquierda{
    width: 250px;
    background-color: #8b5cf6;
    position: fixed;
    left: 0;
    height:100%;
}