@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&display=swap');
*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}
body{
    font-family: 'Inter', sans-serif;
}

.Navbar__completo__izquierdo{
    position: relative;
    height: 80px;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background: white;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
}
.Icon-hamburger{
    display: none;
}
.Search{
    display: flex;
    justify-content: center;
    position: relative;
    width: 100%;
    max-width: 36rem;
    margin-right: 1.5rem;
    color: #8b5cf6;
    width: 70%;
    height: 50%;
    margin-left: 290px;
}
.Search-input{
    position: absolute;
    display: flex;
    align-items: center;
    right: 20px;
    top: 0;
    bottom: 0;
    color: #8b5cf6;
    z-index: 99;
}
.Search-input button{
    background-color: transparent;
    background-image: none;
    border-radius: 40px;
    border: none;
    cursor: pointer;
}
.Search input{
    display: block;
    width: 100%;
    height: 100%;
    font-size: 0.875rem;
    outline: none;
    color: #d1d5db;
    padding: 0.5rem 1rem;
    line-height: 1.25rem;
    border: none;
    box-shadow: 0 0 0 2px rgba(75, 85, 99, 0.1);
    color: #4a5568;
    position: absolute;
    right: 0;
    border-radius: 3px;
}
.Search input:focus {
    border: 1px solid rgb(126, 58, 242);
    outline: none; /* Para eliminar el contorno predeterminado del input */
    box-shadow: 0 0 0 1px rgba(126, 58, 242, 0.2);
  }
  
.Icons{
    display: flex;
}
.Icons ul{
    display: flex;
    justify-content: center;
    align-items: center;
}
.Icons ul li{
    height: 50px;   
    width: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.Icons button{
    background-color: transparent;
    background-image: none;
    border-radius: 40px;
    border: none;
    cursor: pointer;
}

.Icons-nombre{
    position: relative;
    cursor: pointer;
}
.Icons-nombre ul{
    position: absolute;
    right: 30px;
    top: 45px;
    padding: 10px;
    min-width: 220px;
    border-radius: 10px;
    background-color: white;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
    display: none;

}
.nombre_imagen {
    display: flex;
    justify-content: center;
    align-items: center;
}
.Icons-nombre ul li {
    width: 100%;
    margin-left: 10px;
}
.imagen-person{
    width: 50%;
    border: 1px solid black;
    border-radius: 50px;
}

.Icons-nombre ul li a{
    width: 100%;
    text-decoration: none;
    margin-right: 50px;
    display: flex;
    align-items: center;
    color: #4C4F52;
    font-weight: 500;
    font-size: 15px;
    line-height: 21px;

}
.Icons-nombre-aparecer{
    display: block !important;
}
.Icons-nombre-svg{
    display: flex;
    justify-content: center;
    align-items: center;
}
.opcion-texto{
    margin-left: 10px;
    letter-spacing: 0.5px;
}
.mover-icon{
    margin-left: 3px;
}
/* PARTE DE LA DERECHA */
.Navbar__completo__derecho{
    width: 250px;
    background-color: white;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
    position: fixed;
    left: 0;
    height:100%;
    top: 0;
}
.logo{
    padding: 10px;
}
.logo h1{
    margin-top: 10px;
    font-size: 25px;
    font-weight: 600;
    margin-left: 20px;
    color: #1a1c23;
}
.navbar__dashboard {
    height: 100%;
}
  
.navigation-bar {
    list-style-type: none;
    display: flex;
    flex-direction: column; 
    padding: 10px;
    margin-top: 30px;
}
.navigation-bar li {
margin-bottom: 50px; /* Ajusta el espacio entre elementos */
}

.navigation-bar a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #707275;
    font-weight: 600;
    font-size: 16px;
}

.navigation-bar a:hover {
    color: #1A1C23;
}

.navigation-bar a.active {
    color: #1a1c23;
    width: 1px;
    position: relative;
}

.navigation-bar .barra-vertical {
    position: absolute;
    width:1px;
    height: 30px; /* Ajusta la altura según tus necesidades */
    background-color: #6b46c1;
    border-radius: 0 12px 12px 0;
    margin-left: -10px; /* Ajusta el margen según tus necesidades */
    padding: 2px;
}
.navigation-bar .icon {
    margin-right: 8px;
}
.icon{
    margin-left: 10px;
}
.navbar__dashboard ul li {
    display: flex;
    align-items: center;
    justify-content: left;
    height: 40px;
}
/* Estilos específicos para tabletas */
@media only screen and (max-width: 900px) {
    /* PARTE DE LA DERECHA */
    .Navbar__completo__derecho {
        top: auto;
        display: none;
    }
    .Navbar__completo__derecho__esconder {
        top: auto;
        width: 250px;
        background-color: white;
        box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
        position: fixed;
        left: 0;
        height:100%;
        z-index: 99;
    }
    .Icon-hamburger{
        width: 30%;
        display: block;
        position: relative;
        display: flex;
        align-items: center;    
    }
    .Search {
        margin-left: 0;
    }   
}